/* atributos para tudo - soft reset do css*/
* {
  margin: 0;
  padding: 0;
  /* o border box na box-sizing ele começa a contar o elemento a partir da borda
  da caixa */
  box-sizing: border-box;
}

body {
  /* fundo do site */

  /* fontes */
  font-family: Calibri;
  font-weight: bolder;
  font-size: 12px;
  color: #ce6503;
}


@media (max-width: 350px) {
  body {
    font-size: 10px;
  }
}
@media (max-width: 300px) {
  body {
    font-size: 7.5px;
  }
}
@media (max-width: 240px) {
  body {
    font-size: 5px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* div do titulo */
.titles {
  color: #ce6503;
  font-family: garamond;
  font-style: italic, bolder;
  font-size: 2em;
  text-shadow: 1px 1px gray;
  margin-bottom: 30px;
  margin-top: 10px;
}
/* se a tela tiver ao menos 250px esses estilos serão carregados */

.portfolio {
  text-align: center;
  font-family: 'Source Code Pro', monospace; 
  font-size: 14px;
  color: #ce6503;
  margin-bottom: 30px;
  margin-top: 10px;
  text-shadow: none;
}

.port-Title{
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  margin-bottom: 5px;
  font-size: 16px;
}
/* menu */
.menu {
  background-color: seashell;
  /* fixa o elemento na tela e sobre todos os outros elementos */
  position: fixed;
  width: 100vw;
  top: 0;
}
.menu ul {
  /* força tudo a virar coluna, ou seja, ficar uma ao lado do outro*/
  display: flex;
  /* formata o texto com espaços iguais entre os elementos
  e em volta deles... diferente do seu irmão space-between que separa
  com espaço igual entre os elementos mas ignora as bordas da pagina*/
  justify-content: space-around;
}
.menu li {
  list-style: none;
}

.menu a {
  /* transforma a tag "a" que normalmente não quebra a linha em um bloco 
  com essa propriedade de "quebrar a linha"*/
  display: block;
  padding: 5px 5px;
}

a {
  text-decoration: none;
  color: #ce6503;
}

a:hover {
  text-decoration: underline;
  color: #aa5403;
}

@media (max-width: 220px) {
  a {
    font-size: 13px;
  }
}

/* titulo */

.site-title{
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
}

