/* atributos para tudo - soft reset do css*/
* {
  margin: 0;
  padding: 0;
  /* o border box na box-sizing ele começa a contar o elemento a partir da borda
  da caixa */
  box-sizing: border-box;
}

body {
  /* fundo do site */
  background-image: url("images/fundo-main.gif");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  height: 100vh;
  background-image: linear-gradient(-20vh);
  /* fontes */
  font-family: Calibri;
  font-weight: bolder;
  font-size: 12px;
  color: #ce6503;
}


@media (max-width: 350px) {
  body {
    font-size: 10px;
  }
}
@media (max-width: 300px) {
  body {
    font-size: 7.5px;
  }
}
@media (max-width: 240px) {
  body {
    font-size: 5px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* div do titulo */
.titles {
  justify-content: center;
  color: #ce6503;
  text-shadow: 1px 1px gray;
  margin-bottom: 30px;
  margin-top: 120px;

  animation: linear 2s animacaoTitulo;

}

@keyframes animacaoTitulo{
  0%{
    transform: scale(0) translateY(-20vh);
    opacity: 0;

  }
  100%{
    transform: scale(1) translateY(0vh);
    opacity: 1;

  }
}
/* se a tela tiver ao menos 250px esses estilos serão carregados */
.sobre,
.contato,
.portfolio {
  min-height: 100vh;
  box-sizing: border-box;
  padding: 40px;
  text-align: center;
  font-family: 'Source Code Pro', monospace; 
  font-size: 14px;
  color: #ce6503;
  margin-bottom: 30px;
  text-shadow: none;

}
.sobre h2,
.contato h2,
.portfolio h2{
  margin-top: 15px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  margin-bottom: 10px;
  font-size: 24px;
  text-shadow: 1px 1px gray;
}

/* menu */
.menu {
  background-color: seashell;
  /* fixa o elemento na tela e sobre todos os outros elementos */
  position: fixed;
  width: 100vw;
  top: 0;
}
.menu ul {
  /* força tudo a virar coluna, ou seja, ficar uma ao lado do outro*/
  display: flex;
  /* formata o texto com espaços iguais entre os elementos
  e em volta deles... diferente do seu irmão space-between que separa
  com espaço igual entre os elementos mas ignora as bordas da pagina*/
  justify-content: space-around;
}
.menu li {
  list-style: none;
}

.menu a {
  /* transforma a tag "a" que normalmente não quebra a linha em um bloco 
  com essa propriedade de "quebrar a linha"*/
  display: block;
  padding: 5px 5px;

}

a {
  text-decoration: none;
  color: #ce6503;
}

a:hover {
  text-decoration: underline;
  color: #aa5403;
}

@media (max-width: 220px) {
  a {
    font-size: 13px;
  }
}

/* titulo */
.site-title,
.site-subtitle {
  margin-left: 40px;
  text-align: center;
}

.site-title{
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
}

.site-subtitle {
  font-family: 'Amatic SC', cursive;
  font-style: italic;
  font-size: 25px;
}

/* imagens portfolio */
.img-portfolio {
  height: 180px;
  width: 250px;
  margin: 3px;
  object-fit: cover;
  border-radius: 10px;
}

.img-portfolio:hover{
  transform: scale(1.1);
  transition: transform 1s;

}

.portfolio .grid{
  display: grid;
  gap: 2em;
  justify-content: center;
}

/* icones contato */
.contato a{
  font-size: 3em;
  margin: 10px;
}

.contato a:active,
.contato a:hover{
  text-decoration: none;
  color: #aa5403;
  text-shadow: 0.5px 0.5px 2px black;
  transition: color 1s, text-shadow 1s;

}

@media(min-width: 385px){
  .contato .grid{
    text-align: center;
    grid-template-columns: 240px 240px ;
    justify-content: center;
  }
}

@media(min-width: 560px){
  .portfolio .grid{
    grid-template-columns: 240px 240px ;
    justify-content: center;
  }

}

@media(min-width: 785px){
  .portfolio .grid{
    grid-template-columns: repeat(3, 240px);
    justify-content: center;
    height: calc(100vh - 30px - 30px - 10px);
  }

}

